{% extends 'home.html.twig' %}

{% block body %}
<section class="bg-light my-5 container">
  <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
          <h1 class="h1">Brands Manage</h1>
      </div>
  </div>
  <div className="page-heading pb-2 mt-4 mb-2 ">
    <div class="page-content">
      <div class="card">
        <div class="container mb-3">
            <div class="table-responsive text-nowrap">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Brand Name</th>
                    
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  {% for b in brand %}
                      <tr>
                          <td>{{ b.id}}</td>
                          <td>{{ b.brandname}}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
              <a href="{{path('brand_create')}}"><button type="button" style="margin: 5px auto; float: right;" class="btn btn-outline-primary">Add new brand</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
