/* Search bar Homepage */
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}
 
.search {
    background: #fff;
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 10px;
}

.searchbox {
    width: 250px;
    height: 35px;
    display: flex;
    align-items: right;
}

.searchbox button {
    width: 50px;
    height: 35px;
    font-size: 22px;
    margin-left: 5px;
    background-color: #fff;
    border:none;
    outline:none;
    font-weight: bold;
    border-radius: 15px;
    transition:0.4s;
}

.searchbox button:hover{
    scale: 1.2;
    margin-left: 20px;
    margin-right: 5px;
} 

/* Icon css */
.navbar .nav-icon{
    transition:0.4s;
}

.navbar .nav-icon:hover {
    scale: 1.2;
    margin-left: 10px;
}

/* Login css */
.login-container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.login-container p{
    margin-top: 20px
}

.login-container .form {
    margin-top: 30px;
}

.login-container .login-form-group label {
    max-width: 100%;
    margin-top: 20px;
}

.login-container .form-control {
    width: 120%;
}

.login-container .form-group button {
    height: 55px;
    width: 120%;
    color: rgba(0,0,0.25);
    margin-top: 15px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #32CD32;
}

.login-container .form-group button:hover {
    background: #90EE90;
    color: #fff;
}


/* Register css */
.register-container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.register-container header {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.register-container .form {
    margin-top: 30px;
}

.register-container p{
    margin-top: 20px
}

.form-group label {
    width: 100%;
    margin-top: 20px;
}

.register-container .form-control {
    width: 100%;
}

.btn-primary {
    height: 55px;
    width: 100%;
    color: rgba(0,0,0.25);
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #32CD32;
}

.btn-primary:hover {
    background: #90EE90;
    color: #fff;
}

@media only screen and (max-width: 740px){
    .login-container {
        position: relative;
        max-width: 700px;
        width: 100%;
        background: #fff;
        padding: 25px;
        margin-top: 60px;
        margin-bottom: 60px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    }

    .login-container .form-control {
        width: 100%;
    }

    .login-container .form-group button {
        height: 55px;
        width: 100%;
        color: rgba(0,0,0.25);
        margin-top: 15px;
        font-size: 20px;
        border-radius: 4px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
        background: #32CD32;
    }

    .login-container .form-group button:hover {
        background: #90EE90;
        color: #fff;
    }
}

/* product detail */
.product-container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    background: #fff;
    padding: 25px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.product-container header {
    font-size: 36px;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.product-container h5 {
    font-size: 24px;
}

.product-container button {
    height: 55px;
    max-width: 360px;
    min-width: 180px;
    color: rgba(0,0,0.25);
    font-size: 20px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #32CD32;
}

.product-container button:hover {
    background: #90EE90;
    color: #fff;
}

.col-lg-7{
    align-items: center;
    text-align:center;
}

.atc{
    align-items: bottom;
    margin-top:20px;
}

.card-title{
    margin-top: 30px;
}

